
John V. Guttag - Introduction to Computation and Programming Using Python_ With Application to Understanding Data-The MIT Press (2016).mobi
John V. Guttag - Introduction to Computation and Programming Using Python_ With Application to Understanding Data-The MIT Press (2016).pdf
*.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints
